Ubuntu 18.04.3 or Equilvalent
python3 -> 3.6.9
numpy -> 1.14.5
pandas -> 0.25.3
pytesseract -> 0.3.2
cv2 -> 3.4.6
tensorflow -> 1.4.0
keras -> 2.0.9
StandfordNLP & JavaServer
stemming
Pyrebase4
urllib
Pyspellchecker